{{ ansible_managed|comment }}

{% for config in vpn_gateway_configs %}
{% if (config.state | default('present')) == 'present' %}
{{ config.local.id }} {{ config.remote.public }} : PSK {{ config.psk }}
{% endif %}
{% endfor %}
